Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_GIP_OUTORD_OutOfOrderDetectors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.40">
  <xs:include schemaLocation="VE_Dictionary.xsd"/>
  <!-- ================= -->
  <!-- Root -->
  <!-- ================= -->
  <xs:complexType name="OUTORD_File_Type">
    <xs:complexContent>
      <xs:extension base="ee:Abstract_Earth_Explorer_File_Type">
        <xs:sequence>
          <xs:element name="Earth_Explorer_Header" type="ee:OUTORD_Header_Type"/>
          <xs:element name="Data_Block" type="ee:OUTORD_Body_Type"/>
        </xs:sequence>
        <xs:attribute name="schema_version" use="required">
          <xs:simpleType>
            <xs:restriction base="ee:Decimal_Type">
              <xs:minInclusive value="0.30"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ================= -->
  <!-- Header -->
  <!-- ================= -->
  <xs:complexType name="OUTORD_Header_Type">
    <xs:sequence>
      <xs:element name="Fixed_Header" type="ee:OUTORD_Fixed_Header_Type"/>
      <xs:element name="Variable_Header" type="ee:OUTORD_Variable_Header_Type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OUTORD_Fixed_Header_Type">
    <xs:sequence>
      <xs:element name="File_Name" type="ee:VE_GIPP_OutOfOrderDetectors_Id_Type"/>
      <xs:element name="File_Description">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="OutOfOrderDetectors"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Notes" type="ee:String_Type"/>
      <xs:element name="Mission" type="ee:VE_Mission_Type"/>
      <xs:element name="File_Class" type="ee:VE_File_Class_Type"/>
      <xs:element name="File_Type">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="GIP_OUTORD"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Validity_Period" type="ee:Validity_Period_Type"/>
      <xs:element name="File_Version" type="ee:File_Version_Type"/>
      <xs:element name="Source" type="ee:VE_Source_Type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OUTORD_Variable_Header_Type">
    <xs:sequence>
      <xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type"/>
      <xs:element name="Specific_Product_Header">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Instance_Id" type="ee:OUTORD_Instance_Id_Type"/>
            <xs:element name="List_of_Applicable_SiteDefinition_Ids">
              <xs:annotation>
                <xs:documentation>List of the ids of the sites this GIPP is applicable to.

The content of this element should be set in accordance with the value of the Applicability_NickName element in Instance_Id.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Applicable_SiteDefinition_Id" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:VE_SiteDefinition_Id_Type">
                          <xs:attribute name="sn" use="required">
                            <xs:simpleType>
                              <xs:restriction base="ee:Integer_Type">
                                <xs:minInclusive value="1"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="count" use="required">
                  <xs:simpleType>
                    <xs:restriction base="ee:Integer_Type">
                      <xs:minInclusive value="0"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OUTORD_Instance_Id_Type">
    <xs:sequence>
      <xs:element name="Applicability_NickName_Type" type="ee:VE_NickName_Type_Type">
        <xs:annotation>
          <xs:documentation>Defines the type of the applicability nick name.

- if S_SITE : this GIPP is applicable to one site only, defined by the Applicability_NickName element 
- if L_LIST : this GIPP is applicable to a list of site. The Applicability_NickName element defines, in this case, the list nick name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Applicability_NickName" type="ee:VE_Applicability_List_Nick_Name_Type">
        <xs:annotation>
          <xs:documentation>This element is mostly provided for human search (applications should rely on List_of_Applicable_SiteDefinition_Id content to determine applicability). Its significance depends of the previous Applicability_NickName_Type. The content List_of_Applicable_SiteDefinition_Ids must be set in accordance with this element.

In case of a site nick name : 
- this GIPP is applicable to one particular site only. List_of_Applicable_SiteDefinition_Ids should contain only one element whose value must be the complete SiteDefinition_Id corresponding to this nick name. 

In case of a list nick name : 
- if value is 'ALLSITES' : this GIPP is applicable to all the sites. List_of_Applicable_SiteDefinition_Ids must be empty.
- if value is 'NOTNAMED' : this GIPP is applicable to a "unnnamed" list of sites (ie. no nick name is  affected to this list). List_of_Applicable_SiteDefinition_Ids must contain the SiteDefinition_Id of every site this GIPP is applicable to.
- otherwise the value if the (informative) list nick name.  List_of_Applicable_SiteDefinition_Ids must contain the (applicable) SiteDefinition_Id of every site this GIPP is applicable to.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Serial_Key" type="ee:VE_Serial_Key_Type">
        <xs:annotation>
          <xs:documentation>unique Serial key in this GIPP series</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Validity_Period" type="ee:Validity_Period_Type">
        <xs:annotation>
          <xs:documentation>Validity period : content must be identical to the Validity_Period element of the Fixed_Header.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Band_Code" type="ee:VE_Band_Code_Type">
        <xs:annotation>
          <xs:documentation>Band code ('B01' to 'B12')</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ================= -->
  <!-- body -->
  <!-- ================= -->
  <xs:complexType name="OUTORD_Body_Type">
    <xs:sequence>
      <xs:element name="List_of_TDI_Configuration_Defects">
        <xs:annotation>
          <xs:documentation>List of out-of-order detector for every TDI configuration</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TDI_Configuration_Defect" minOccurs="0" maxOccurs="5">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TDI_Configuration_Code" type="ee:VE_TDI_Configuration_Type"/>
                  <xs:element name="List_of_Defects">
                    <xs:annotation>
                      <xs:documentation>List of defects for this TDI Configuration</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Defect" minOccurs="0" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Col_Range">
                                <xs:annotation>
                                  <xs:documentation>Column range</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="First">
                                      <xs:annotation>
                                        <xs:documentation>First column</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="ee:Integer_Type">
                                          <xs:minInclusive value="1"/>
                                          <xs:maxInclusive value="5200"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Last">
                                      <xs:annotation>
                                        <xs:documentation>Last column</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="ee:Integer_Type">
                                          <xs:minInclusive value="1"/>
                                          <xs:maxInclusive value="5200"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="Defect_Type">
                                <xs:annotation>
                                  <xs:documentation>Enumeration : 
- BLIND
- NOISY
- FILTER_HOLE</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="ee:String_Type">
                                    <xs:enumeration value="BLIND"/>
                                    <xs:enumeration value="NOISY"/>
                                    <xs:enumeration value="FILTER_HOLE"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="sn" use="required">
                              <xs:simpleType>
                                <xs:restriction base="ee:Integer_Type">
                                  <xs:minInclusive value="1"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="count" use="required">
                        <xs:simpleType>
                          <xs:restriction base="ee:Integer_Type"/>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="sn" use="required">
                  <xs:simpleType>
                    <xs:restriction base="ee:Integer_Type">
                      <xs:minInclusive value="1"/>
                      <xs:maxInclusive value="5"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="count" use="required">
            <xs:simpleType>
              <xs:restriction base="ee:Integer_Type">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="5"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
