Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_MPL_ASREPT_AcquisitionSetReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by DCT/PS/TIS (C.N.E.S.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.40">
	<xs:include schemaLocation="VE_Dictionary.xsd"/>
	<!-- ================= -->
	<!-- Root -->
	<!-- ================= -->
	<xs:complexType name="ASREPT_File_Type">
		<xs:annotation>
			<xs:documentation>The AcquisitionSetReport (Satellite Programming Confirmation) is sent back by the GCS to the VIP every time a new command file has been uploaded to the satellite.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ee:Abstract_Earth_Explorer_File_Type">
				<xs:sequence>
					<xs:element name="Earth_Explorer_Header" type="ee:ASREPT_Header_Type"/>
					<xs:element name="Data_Block" type="ee:ASREPT_Body_Type"/>
				</xs:sequence>
				<xs:attribute name="schema_version" use="required">
					<xs:simpleType>
						<xs:restriction base="ee:Decimal_Type">
							<xs:minInclusive value="0.31"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ================= -->
	<!-- Header -->
	<!-- ================= -->
	<xs:complexType name="ASREPT_Header_Type">
		<xs:sequence>
			<xs:element name="Fixed_Header" type="ee:ASREPT_Fixed_Header_Type"/>
			<xs:element name="Variable_Header" type="ee:ASREPT_Variable_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREPT_Fixed_Header_Type">
		<xs:sequence>
			<xs:element name="File_Name" type="ee:VE_AcquisitionSetReport_Id_Type"/>
			<xs:element name="File_Description">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="AcquisitionSetReport"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Notes" type="ee:String_Type"/>
			<xs:element name="Mission" type="ee:VE_Mission_Type"/>
			<xs:element name="File_Class" type="ee:VE_File_Class_Type"/>
			<xs:element name="File_Type">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="MPL_ASREPT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Validity_Period" type="ee:Validity_Period_Type"/>
			<xs:element name="File_Version" type="ee:File_Version_Type"/>
			<xs:element name="Source" type="ee:VE_Source_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREPT_Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type"/>
			<xs:element name="Specific_Product_Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Instance_Id" type="ee:ASREPT_Instance_Id_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREPT_Instance_Id_Type">
		<xs:sequence>
			<xs:element name="Serial_Key" type="ee:VE_Serial_Key_Type">
				<xs:annotation>
					<xs:documentation>unique Serial key in the AcquisitionSetRequest series</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orbit_Number_Validity_Range" type="ee:VE_Absolute_Orbit_Number_Range_Type">
				<xs:annotation>
					<xs:documentation>First and last validity orbits. Both orbits are expressed as absolute orbit numbers.

This orbits are set accordingly with the Validity_Period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Global_Status" type="ee:VE_Global_Status_Type">
				<xs:annotation>
					<xs:documentation>Global status of report. Below are allowed values (first letter, preceding the underscore, is the corresponding letter code used in ids and file names)

- O_OK
- F_FAILED
- P_PARTIAL</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ================= -->
	<!-- body -->
	<!-- ================= -->
	<xs:complexType name="ASREPT_Body_Type">
		<xs:sequence>
			<xs:element name="Total_Rejection" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used when the Acquisition Set Definition has been totally rejected independently of any site definition (Global_Status = F_FAILED)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rejection_Code">
							<xs:annotation>
								<xs:documentation>Reason why the Acquisition Set Defintion (ASDEFN) has been totally rejected</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="ee:String_Type">
									<xs:pattern value="[A-Z][0-9A-Z_]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Detailed_Reason" type="ee:String_Type">
							<xs:annotation>
								<xs:documentation>Textual description of why the Acquisition Set Defintion (ASDEFN) has been totally rejected</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="List_of_AcquisitionSetRequest_Applicabilities">
				<xs:annotation>
					<xs:documentation>List of AcquisitionSetRequest applicabilities</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="AcquisitionSetRequest_Applicability" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ee:ASREPT_AcquisitionSetRequest_Applicability_Type">
										<xs:attribute name="sn" use="required">
											<xs:annotation>
												<xs:documentation>Serial number of the rejected acquisition within the list</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="ee:Integer_Type">
													<xs:minInclusive value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="count" use="required">
						<xs:annotation>
							<xs:documentation>Number of AcquisitionSetRequest</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="ee:Integer_Type">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="List_of_Rejected_Acquisitions">
				<xs:annotation>
					<xs:documentation>List of rejected acquisitions (i.e. one site for one absolute orbit number). 
A site can be listed more than once if it has been rejected for various orbits.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rejected_Acquisition" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Description of each rejected acquisition</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ee:ASREPT_Rejected_Site_Type">
										<xs:attribute name="sn" use="required">
											<xs:annotation>
												<xs:documentation>Serial number of the rejected acquisition within the list</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="ee:Integer_Type">
													<xs:minInclusive value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="count" use="required">
						<xs:annotation>
							<xs:documentation>Number of rejected acquisitions (only relevant in case of partiall acceptance, 0 in the other cases)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="ee:Integer_Type">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="IHET_Orbit_Number_Range" type="ee:VE_Absolute_Orbit_Number_Range_Type" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Period of time dedicated to HIET if any (expressed as absolute orbit numbers.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREPT_AcquisitionSetRequest_Applicability_Type">
		<xs:annotation>
			<xs:documentation>an AcquisitionSetRequest applicability type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcquisitionSetRequest_Id" type="ee:VE_AcquisitionSetRequest_Id_Type">
				<xs:annotation>
					<xs:documentation>AcquisitionSetRequest identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orbit_Number_Applicability_Range" type="ee:VE_Absolute_Orbit_Number_Range_Type">
				<xs:annotation>
					<xs:documentation>First and last applicability orbits for this AcquisitionSetRequest. Both orbits are expressed as absolute orbit numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREPT_Rejected_Site_Type">
		<xs:annotation>
			<xs:documentation>a rejected site description type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SiteDefinition_Id" type="ee:VE_SiteDefinition_Id_Type">
				<xs:annotation>
					<xs:documentation>unique identifier of the rejected site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcquisitionSetRequest_Id" type="ee:VE_AcquisitionSetRequest_Id_Type">
				<xs:annotation>
					<xs:documentation>corresponding AcquisitionSetRequest identifier </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Acquisition_Orbit_Number" type="ee:VE_Absolute_Orbit_Number_With_Unit_Type"/>
			<xs:element name="Rejection_Code">
				<xs:annotation>
					<xs:documentation>Reason why the acquisition has been rejected</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:pattern value="[A-Z][0-9A-Z_]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Detailed_Reason" type="ee:String_Type">
				<xs:annotation>
					<xs:documentation>Textual description of why the acquisition has been rejected</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
