Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_MPL_TSRSET_TMCSimulationReferenceSet.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
 
  HISTORIQUE
 
  VERSION : 1.6 : FA : VE-FT-1074 : 24/10/2016 : update TRSR schema
 
  FIN-HISTORIQUE
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.6">
	<xs:include schemaLocation="VE_TMC_Dictionary.xsd"/>
	<!-- ================= -->
	<!-- Root -->
	<!-- ================= -->
	<xs:complexType name="TSRSET_File_Type">
		<xs:annotation>
			<xs:documentation>The TMCSimulationReferenceSet is generated by the SCC to perform experiments. 
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ee:Abstract_Earth_Explorer_File_Type">
				<xs:sequence>
					<xs:element name="Earth_Explorer_Header" type="ee:TSRSET_Header_Type"/>
					<xs:element name="Data_Block" type="ee:TSRSET_Body_Type"/>
				</xs:sequence>
				<xs:attribute name="schema_version" use="required">
					<xs:simpleType>
						<xs:restriction base="ee:Decimal_Type">
							<xs:minInclusive value="1.6"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ================= -->
	<!-- Header -->
	<!-- ================= -->
	<xs:complexType name="TSRSET_Header_Type">
		<xs:sequence>
			<xs:element name="Fixed_Header" type="ee:TSRSET_Fixed_Header_Type"/>
			<xs:element name="Variable_Header" type="ee:TSRSET_Variable_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TSRSET_Fixed_Header_Type">
		<xs:sequence>
			<xs:element name="File_Name" type="ee:VE_TMCSimulationReferenceDataSet_Id_Type"/>
			<xs:element name="File_Description">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="TMCSimulationReferenceSet"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Notes" type="ee:String_Type"/>
			<xs:element name="Mission" type="ee:VE_Mission_Type"/>
			<xs:element name="File_Class" type="ee:VE_File_Class_Type"/>
			<xs:element name="File_Type">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="MPL_TSRSET"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Validity_Period" type="ee:Validity_Period_Type"/>
			<xs:element name="File_Version" type="ee:File_Version_Type"/>
			<xs:element name="Source" type="ee:VE_Source_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TSRSET_Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type"/>
			<xs:element name="Specific_Product_Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Instance_Id" type="ee:TSRSET_Instance_Id_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--- - - - - - - - - -TSRSET_Instance_Id_Type-->
	<xs:complexType name="TSRSET_Instance_Id_Type">
		<xs:sequence>
			<xs:element name="TMC_Serial_Key" type="ee:TMC_Serial_Key_Type">
				<xs:annotation>
					<xs:documentation>Unique ID 
min - 00001
max - 99999
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="First_Validity_Orbit" type="ee:VE_Absolute_Orbit_Number_With_Unit_Type">
				<xs:annotation>
					<xs:documentation>First  validity orbits. The orbit is expressed as absolute orbit numbers.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ============================================================================== -->
	<!-- body -->
	<!-- ============================================================================= -->
	<xs:complexType name="TSRSET_Body_Type">
		<xs:annotation>
			<xs:documentation>the TMC Simulation Reference Set (TSRSET) Body Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!--=====================================================-->
			<!--Max Solar Panels Power-->
			<!--======================================================-->
			<xs:element name="Max_Solar_Panels_Power">
				<xs:annotation>
					<xs:documentation>Max Solar Panels Power</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRS_Max_Solar_Panels_Power_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="Watt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=====================================================-->
			<!--Battery Capacity-->
			<!--======================================================-->
			<xs:element name="Battery_Capacity">
				<xs:annotation>
					<xs:documentation>Battery Capacity</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRS_Battery_Capacity_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="Amp_Hour"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=======================-->
			<!--Min Battery voltage for Charge Orbit Decision-->
			<!--=======================-->
			<xs:element name="Min_Battery_Voltage_For_Charge_Orbit_Decision">
				<xs:annotation>
					<xs:documentation>Min Battery voltage for Charge Orbit Decision</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRS_Min_Battery_Voltage_For_Charge_Orbit_Decision_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="Volt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=======================-->
			<!--Min Battery volt during IHET Operation-->
			<!--=======================-->
			<xs:element name="Min_Battery_Voltage_During_IHET_Operation">
				<xs:annotation>
					<xs:documentation>Min Battery volt during IHET Operation</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRS_Min_Battery_Voltage_During_IHET_Operation_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="Volt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--Bus House Keeping (HK) averaged Power During Day-->
			<!--=======================-->
			<xs:element name="HK_Power_During_Day">
				<xs:annotation>
					<xs:documentation>Bus House Keeping (HK) averaged Power During Day</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRS_HK_Power_During_Day_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="Watt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=======================-->
			<!--HK Power During Night-->
			<!--=======================-->
			<xs:element name="HK_Power_During_Night">
				<xs:annotation>
					<xs:documentation>HK Power During Night</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRS_HK_Power_During_Night_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="Watt"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=======================-->
			<!--operational STRs-->
			<!--=======================-->
			<xs:element name="Operational_STR">
				<xs:annotation>
					<xs:documentation>operational STRs both , one , two </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="BOTH"/>
						<xs:enumeration value="STR1"/>
						<xs:enumeration value="STR2"/>
						<xs:enumeration value="NONE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--=======================-->
			<!--Status of Reaction Wheels-->
			<!--=======================-->
			<xs:element name="Reaction_Wheels_Status">
				<xs:annotation>
					<xs:documentation>Status of Reaction Wheels </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="NOMINAL"/>
						<xs:enumeration value="RW1_FAILURE"/>
						<xs:enumeration value="RW2_FAILURE"/>
						<xs:enumeration value="RW3_FAILURE"/>
						<xs:enumeration value="RW4_FAILURE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--=======================-->
			<!--Technological Mission Momentum Threshold-->
			<!--=======================-->
			<xs:element name="Technological_Mission_Momentum_Threshold">
				<xs:annotation>
					<xs:documentation>Technological Mission Momentum Threshold</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRS_Technological_Mission_Momentum_Threshold_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="Nms"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=======================-->
			<!--MTR use during TM-->
			<!--=======================-->
			<xs:element name="MTR">
				<xs:annotation>
					<xs:documentation>MTR use during TM - 0-MTRs operation is not allowed during IHET window 1- MTRs operation is allowed </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ee:UnsignedByte_Type">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--=======================-->
			<!--TM open window time wrt sunrise-->
			<!--=======================-->
			<xs:element name="TM_Open_Window">
				<xs:annotation>
					<xs:documentation>TM open window time wrt sunrise </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRSET_TM_Open_Window_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="sec"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=======================-->
			<!--TM close window time wrt sunset-->
			<!--=======================-->
			<xs:element name="TM_Close_Window">
				<xs:annotation>
					<xs:documentation>TM close window time wrt sunset </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRSET_TM_Close_Window_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="sec"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<!--=======================-->
			<!--First programming relative rev-->
			<!--=======================-->
			<xs:element name="First_Program_Relative_Rev">
				<xs:annotation>
					<xs:documentation>First programming relative rev</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ee:TSRSET_First_Rev_Type">
							<xs:attribute name="unit" type="ee:String_Type" use="required" fixed="rel"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--******************************-->
	<!-- TSRS_Max_Solar_Panels_Power_Type-->
	<!--*******************************-->
	<xs:simpleType name="TSRS_Max_Solar_Panels_Power_Type">
		<xs:restriction base="ee:Float_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--******************************-->
	<!-- TSRS_Battery_Capacity_Type-->
	<!--*******************************-->
	<xs:simpleType name="TSRS_Battery_Capacity_Type">
		<xs:restriction base="ee:Float_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<!--******************************-->
	<!-- TSRS_Min_Battery_Voltage_For_Charge_Orbit_Decision_Type-->
	<!--*******************************-->
	<xs:simpleType name="TSRS_Min_Battery_Voltage_For_Charge_Orbit_Decision_Type">
		<xs:restriction base="ee:Float_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!--******************************-->
	<!-- TSRS_Min_Battery_Voltage_During_IHET_Operation_Type-->
	<!--*******************************-->
	<xs:simpleType name="TSRS_Min_Battery_Voltage_During_IHET_Operation_Type">
		<xs:restriction base="ee:Float_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<!--******************************-->
	<!-- TSRS_HK_Power_During_Day_Type-->
	<!--*******************************-->
	<xs:simpleType name="TSRS_HK_Power_During_Day_Type">
		<xs:restriction base="ee:Float_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--******************************-->
	<!-- TSRS_HK_Power_During_Night_Type-->
	<!--*******************************-->
	<xs:simpleType name="TSRS_HK_Power_During_Night_Type">
		<xs:restriction base="ee:Float_Type">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<!--******************************-->
	<!-- TSRS_Technological_Mission_Momentum_Threshold_Type-->
	<!--*******************************-->
	<xs:simpleType name="TSRS_Technological_Mission_Momentum_Threshold_Type">
		<xs:restriction base="ee:Float_Type">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<!--***********************-->
	<!--TM_Open_Window_Type-->
	<!--************************-->
	<xs:simpleType name="TSRSET_TM_Open_Window_Type">
		<xs:restriction base="ee:Integer_Type">
			<xs:minInclusive value="-1800"/>
			<xs:maxInclusive value="1800"/>
		</xs:restriction>
	</xs:simpleType>
	<!--***********************-->
	<!--TM_Close_Window_Type-->
	<!--************************-->
	<xs:simpleType name="TSRSET_TM_Close_Window_Type">
		<xs:restriction base="ee:Integer_Type">
			<xs:minInclusive value="-1800"/>
			<xs:maxInclusive value="1800"/>
		</xs:restriction>
	</xs:simpleType>
	<!--***********************-->
	<!--First_Rev_Type-->
	<!--************************-->
	<xs:simpleType name="TSRSET_First_Rev_Type">
		<xs:restriction base="ee:Integer_Type">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="31"/>
		</xs:restriction>
	</xs:simpleType>
	<!--************************-->
</xs:schema>
