Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_MPL_TSDEFN_TechnologicalScenarioDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLNotepad by USER (TMC) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.07">
  <xs:include schemaLocation="VE_TMC_Dictionary.xsd" />
  <!-- ================= -->
  <!-- Root -->
  <!-- ================= -->
  <xs:complexType name="TSDEFN_File_Type">
    <xs:annotation>
      <xs:documentation>The TechnologicalScenarioDefinition is generated by the TMC to perform experiments. 
It is provided to the GCS in order to check the feasibility of the requested scenario definitions. 
An TechnologicalScenarioDefinition should be predefined some time before it will be activated through an TechnologicalScenarioRequest.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ee:Abstract_Earth_Explorer_File_Type">
        <xs:sequence>
          <xs:element name="Earth_Explorer_Header" type="ee:TSDEFN_Header_Type" />
          <xs:element name="Data_Block" type="ee:TSDEFN_Body_Type" />
        </xs:sequence>
        <xs:attribute name="schema_version" use="required">
          <xs:simpleType>
            <xs:restriction base="ee:Decimal_Type">
              <xs:minInclusive value="0.07" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <!-- ================= -->
  <!-- Header -->
  <!-- ================= -->
  <xs:complexType name="TSDEFN_Header_Type">
    <xs:sequence>
      <xs:element name="Fixed_Header" type="ee:TSDEFN_Fixed_Header_Type" />
      <xs:element name="Variable_Header" type="ee:TSDEFN_Variable_Header_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSDEFN_Fixed_Header_Type">
    <xs:sequence>
      <xs:element name="File_Name" type="ee:VE_TechnologicalScenarioDefinition_Id_Type" />
      <xs:element name="File_Description">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="TechnologicalScenarioDefinition" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Notes" type="ee:String_Type" />
      <xs:element name="Mission" type="ee:VE_Mission_Type" />
      <xs:element name="File_Class" type="ee:VE_File_Class_Type" />
      <xs:element name="File_Type">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="MPL_TSDEFN" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Validity_Period" type="ee:Validity_Period_Type" />
      <xs:element name="File_Version" type="ee:File_Version_Type" />
      <xs:element name="Source" type="ee:VE_Source_Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TSDEFN_Variable_Header_Type">
    <xs:sequence>
      <xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type" />
      <xs:element name="Specific_Product_Header">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Instance_Id" type="ee:TSDEFN_Instance_Id_Type" />
            <xs:element name="Original_ID_Number" type="ee:TMC_Serial_Key_Type">
              <xs:annotation>
                <xs:documentation>(for internal use) Original Id number for file versions
-for first version - original ID number would be its own ID_Number
-for next versions - original ID number would be Id_Number of original file
-min 00001
-max 99999</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TSD_Version">
              <xs:simpleType>
                <xs:restriction base="ee:NonNegativeInteger_Type">
                  <xs:minInclusive value="01" />
                  <xs:pattern value="[0-9][0-9]" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Num_Of_Tech_Windows">
              <xs:simpleType>
                <xs:restriction base="ee:NonNegativeInteger_Type">
                  <xs:minInclusive value="0"></xs:minInclusive>
                  <xs:maxInclusive value="58"></xs:maxInclusive>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="Related_ReferenceOrbit_Id" type="ee:VE_ReferenceOrbit_Id_Type" />
            <xs:element name="Related_TMCSimulationReferenceDataSet_Id" type="ee:VE_TMCSimulationReferenceDataSet_Id_Type" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--- - - - - - - - - -TSDEFN_Instance_Id_Type-->
  <xs:complexType name="TSDEFN_Instance_Id_Type">
    <xs:sequence>
      <xs:element name="TMC_Serial_Key" type="ee:TMC_Serial_Key_Type">
        <xs:annotation>
          <xs:documentation>Unique ID for TSD (00001-99999)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Cycle_Number" type="ee:TMC_CycleNumber_Type">
        <xs:annotation>
          <xs:documentation>cycle number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TSD_Nickname" type="ee:TMC_Nickname_Type">
        <xs:annotation>
          <xs:documentation>Nickname of the file</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TSD_Type" type="ee:TMC_TSDType_Type">
        <xs:annotation>
          <xs:documentation>TSD type (A_AUTO) (D_DIRECT)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!-- ============================================================================== -->
  <!-- body -->
  <!-- ============================================================================= -->
  <xs:complexType name="TSDEFN_Body_Type">
    <xs:annotation>
      <xs:documentation>The Technological Scenario Definition (TSDEFN) Body Type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!--====================================================================================-->
      <!--SIMULATION INITIAL CONDITIONS -->
      <!--======================================================-->
      <xs:element name="Simulation_Initial_Conditions">
        <xs:annotation>
          <xs:documentation>Simulation Initial Conditions</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <!--=====================================================-->
            <!--Expected Orbits -->
            <!--======================================================-->
            <xs:element name="List_of_Expected_Orbits">
              <xs:annotation>
                <xs:documentation>Description of the expected orbits</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Expected_Orbit" minOccurs="0" maxOccurs="220">
                    <xs:annotation>
                      <xs:documentation>the description of each orbit</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="ee:TSDEFN_Expected_Orbit_Type">
                          <xs:attribute name="sn" use="required">
                            <xs:annotation>
                              <xs:documentation>Serial number of the expected orbit within the list</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="ee:Integer_Type">
                                <xs:minInclusive value="1" />
                                <xs:maxInclusive value="220" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="count" use="required">
                  <xs:annotation>
                    <xs:documentation>the number of orbits</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="ee:Integer_Type">
                      <xs:minInclusive value="0" />
                      <xs:maxInclusive value="220" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <!--========================================================-->
            <!--Last_TMM_Command-->
            <!--=========================================================-->
            <xs:element name="Last_TMM_Command" type="ee:TSDEFN_Last_TMM_Command_Type" minOccurs="1">
              <xs:annotation>
                <xs:documentation>Last TMM Command</xs:documentation>
              </xs:annotation>
            </xs:element>
            <!--=====================================================-->
            <!--Satellite System State -->
            <!--======================================================-->
            <xs:element name="SatSysStates">
              <xs:annotation>
                <xs:documentation>Satellite system states</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Active_PPU_SCU">
                    <xs:simpleType>
                      <xs:restriction base="ee:String_Type">
                        <xs:enumeration value="PPU_A" />
                        <xs:enumeration value="PPU_B" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Active_PPU_CHMA_PS">
                    <xs:simpleType>
                      <xs:restriction base="ee:NonNegativeInteger_Type">
                        <xs:minInclusive value="0" />
                        <xs:maxInclusive value="63" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="LV1_State">
                    <xs:simpleType>
                      <xs:restriction base="ee:String_Type">
                        <xs:enumeration value="CLOSED" />
                        <xs:enumeration value="OPEN" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="LV2_State">
                    <xs:simpleType>
                      <xs:restriction base="ee:String_Type">
                        <xs:enumeration value="CLOSED" />
                        <xs:enumeration value="OPEN" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="EPS_EOL_BOL">
                    <xs:simpleType>
                      <xs:restriction base="ee:UnsignedByte_Type">
                        <xs:enumeration value="0" />
                        <xs:enumeration value="1" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Battery_DOD">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:SSS_Battery_DOD_Type">
                          <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="%" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RW1_Rate">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:SSS_RWx_Rate_Type">
                          <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="rad/sec" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RW2_Rate">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:SSS_RWx_Rate_Type">
                          <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="rad/sec" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RW3_Rate">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:SSS_RWx_Rate_Type">
                          <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="rad/sec" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="RW4_Rate">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:SSS_RWx_Rate_Type">
                          <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="rad/sec" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Hydrazine_Mass">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:SSS_Hydrazine_Mass_Type">
                          <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="kg" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Xenon_Mass">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="ee:SSS_Xenon_Mass_Type">
                          <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="kg" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <!--=====================================================-->
            <!--IHET (PPU) Parameters -->
            <!--======================================================-->
            <xs:element name="List_of_IHET_Parameters">
              <xs:annotation>
                <xs:documentation>All PPU parameters, that reflect the PPU parameters condition before
current application of the TSD</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="IHET_Parameter" minOccurs="214" maxOccurs="214">
                    <xs:annotation>
                      <xs:documentation>Description of each Parameter</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="ee:TSDEFN_SIM_IHET_Parameter_Type">
                          <xs:attribute name="sn" use="required">
                            <xs:annotation>
                              <xs:documentation>Serial number of the IHET Parameter within the list</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="ee:Integer_Type">
                                <xs:minInclusive value="1" />
                                <xs:maxInclusive value="214" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="count" use="required">
                  <xs:annotation>
                    <xs:documentation>Number of parameters</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="ee:Integer_Type">
                      <xs:minInclusive value="214" />
                      <xs:maxInclusive value="214" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <!--=====================================================-->
            <!--TMM Parameters -->
            <!--======================================================-->
            <xs:element name="List_of_TMM_Parameters">
              <xs:annotation>
                <xs:documentation>TMM parameters – only the changed parameters from the default
launch version. SCC will check that this list is consistent with the one in the SCC Database.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="TMM_Parameter" minOccurs="0" maxOccurs="300">
                    <xs:annotation>
                      <xs:documentation>Description of each Parameter</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="ee:TSDEFN_SIM_TMM_Parameter_Type">
                          <xs:attribute name="sn" use="required">
                            <xs:annotation>
                              <xs:documentation>Serial number of the TMM Parameter within the list</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="ee:Integer_Type">
                                <xs:minInclusive value="1" />
                                <xs:maxInclusive value="300" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="count" use="required">
                  <xs:annotation>
                    <xs:documentation>Number of parameters</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="ee:Integer_Type">
                      <xs:minInclusive value="0" />
                      <xs:maxInclusive value="300" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!--=====================================================-================================-->
      <!--SCENARIO BODY -->
      <!--======================================================-->
      <xs:element name="Scenario_Body" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Scenario body</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <!--**************************-->
            <!--FIRST TECH REV-->
            <!--**************************-->
            <xs:element name="First_Tech_Rev">
              <xs:complexType>
                <xs:sequence>
                  <!--=======================-->
                  <!--Relative Rev-->
                  <!--=======================-->
                  <xs:element name="Relative_Rev" type="ee:TMC_Relative_Orbit_Number_Type" />
                  <!--=======================-->
                  <!--DPS Operation Request -->
                  <!--=======================-->
                  <xs:element name="List_of_DPS_OperReq">
                    <xs:annotation>
                      <xs:documentation>DPS operation request – these operation requests are intended for the
											SCC to upload to the satellite. These requests include IHET configuration, monitoring mask</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="DPS_OperReq" minOccurs="0" maxOccurs="3">
                          <xs:annotation>
                            <xs:documentation>Description of each operation request</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="ee:TSDEFN_DPS_OperReq_Type">
                                <xs:attribute name="sn" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Serial number of the oper. reqt. within the list</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="ee:Integer_Type">
                                      <xs:minInclusive value="1" />
                                      <xs:maxInclusive value="3" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="count" use="required">
                        <xs:annotation>
                          <xs:documentation>Number of event</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="ee:Integer_Type">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="3" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <!--=======================-->
                  <!--TMM Commands STOP-->
                  <!--=======================-->
                  <xs:element name="List_of_TMM_Commands_Stop">
                    <xs:annotation>
                      <xs:documentation>A list of TMM commands , the
												relative time of applying each command.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="TMM_Command" minOccurs="0" maxOccurs="5">
                          <xs:annotation>
                            <xs:documentation>Description of each Command</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="ee:TSDEFN_TMM_Command_Stop_Type">
                                <xs:attribute name="sn" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Serial number of the TMM Command within the list</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="ee:Integer_Type">
                                      <xs:minInclusive value="1" />
                                      <xs:maxInclusive value="5" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="count" use="required">
                        <xs:annotation>
                          <xs:documentation>Number of commands</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="ee:Integer_Type">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="5" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <!--=====================================================-->
                  <!--IHET (PPU) Parameters -->
                  <!--======================================================-->
                  <xs:element name="List_of_IHET_Parameters">
                    <xs:annotation>
                      <xs:documentation>IHET (PPU) parameters to be updated, if needed. This table will
													include all the changes needed from the current satellite state. The number of
													 updated parameters can be between zero (empty table) to all of the parameters, as in
													 the case of changing the SCU.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="IHET_Parameter" minOccurs="0" maxOccurs="214">
                          <xs:annotation>
                            <xs:documentation>Description of each Parameter</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="ee:TSDEFN_SCN_IHET_Parameter_Type">
                                <xs:attribute name="sn" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Serial number of the IHET Parameter within the list</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="ee:Integer_Type">
                                      <xs:minInclusive value="1" />
                                      <xs:maxInclusive value="214" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="count" use="required">
                        <xs:annotation>
                          <xs:documentation>Number of parameters</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="ee:Integer_Type">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="214" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <!--=======================-->
                  <!--Quaterion -->
                  <!--=======================-->
                  <xs:element name="Quaternion" type="ee:TSDEFN_Quaternion_Type" minOccurs="0" />
                  <!--=======================-->
                  <!--IHET Direct Operation Request -->
                  <!--=======================-->
                  <xs:element name="List_of_IHET_Direct_OperReq">
                    <xs:annotation>
                      <xs:documentation>A list of commands which are intended to manually operate the
												IHET and do not activate the TMM. These IHET direct operation request include a list of IHET 
												Direct commands and their parameter values, and the relative time of applying each
												command	</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="IHET_Direct_OperReq" minOccurs="0" maxOccurs="350">
                          <xs:annotation>
                            <xs:documentation>Description of each operation request</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="ee:TSDEFN_IHET_Direct_OperReq_Type">
                                <xs:attribute name="sn" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Serial number of the oper. reqt. within the list</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="ee:Integer_Type">
                                      <xs:minInclusive value="1" />
                                      <xs:maxInclusive value="350" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="count" use="required">
                        <xs:annotation>
                          <xs:documentation>Number of requests</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="ee:Integer_Type">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="350" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <!--=====================================================-->
                  <!--TMM Parameters -->
                  <!--======================================================-->
                  <xs:element name="List_of_TMM_Parameters">
                    <xs:annotation>
                      <xs:documentation>TMM parameters to be updated, if needed. This table will include all
													the changes needed from the current satellite state, to be uploaded using the TMM
													Change	TMM parameters command</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="TMM_Parameter" minOccurs="0" maxOccurs="300">
                          <xs:annotation>
                            <xs:documentation>Description of each Parameter</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="ee:TSDEFN_SCN_TMM_Parameter_Type">
                                <xs:attribute name="sn" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Serial number of the TMM Parameter within the list</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="ee:Integer_Type">
                                      <xs:minInclusive value="1" />
                                      <xs:maxInclusive value="300" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="count" use="required">
                        <xs:annotation>
                          <xs:documentation>Number of parameters</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="ee:Integer_Type">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="300" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <!--=======================-->
                  <!--TMM Commands -->
                  <!--=======================-->
                  <xs:element name="List_of_TMM_Commands">
                    <xs:annotation>
                      <xs:documentation>A list of TMM commands , the
												relative time of applying each command.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="TMM_Command" minOccurs="0" maxOccurs="5">
                          <xs:annotation>
                            <xs:documentation>Description of each Command</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:complexContent>
                              <xs:extension base="ee:TSDEFN_TMM_Command_Type">
                                <xs:attribute name="sn" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Serial number of the TMM Command within the list</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="ee:Integer_Type">
                                      <xs:minInclusive value="1" />
                                      <xs:maxInclusive value="5" />
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:extension>
                            </xs:complexContent>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="count" use="required">
                        <xs:annotation>
                          <xs:documentation>Number of commands</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                          <xs:restriction base="ee:Integer_Type">
                            <xs:minInclusive value="0" />
                            <xs:maxInclusive value="5" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <!--**************************-->
            <!--LIST OF TECH REV-->
            <!--**************************-->
            <xs:element name="List_of_Tech_Revs">
              <xs:annotation>
                <xs:documentation>list of tech revs</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Tech_Rev" minOccurs="0" maxOccurs="58">
                    <xs:annotation>
                      <xs:documentation>Description of each rev</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:complexContent>
                        <xs:extension base="ee:TSDEFN_Tech_Rev_Type">
                          <xs:attribute name="sn" use="required">
                            <xs:annotation>
                              <xs:documentation>Serial number of the tech rev within the list</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                              <xs:restriction base="ee:Integer_Type">
                                <xs:minInclusive value="1" />
                                <xs:maxInclusive value="58" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:complexContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="count" use="required">
                  <xs:annotation>
                    <xs:documentation>Number of event</xs:documentation>
                  </xs:annotation>
                  <xs:simpleType>
                    <xs:restriction base="ee:Integer_Type">
                      <xs:minInclusive value="0" />
                      <xs:maxInclusive value="58" />
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--**************************************************************************************************************************************-->
  <!--***************************************************TYPES***************************************************************************-->
  <!--**************************************************************************************************************************************-->
  <!--**************************************************************************************************************************************-->
  <!--SIM SAT SYS STATES type for units-->
  <!--************************-->
  <!--SIM SSS_Battery_DOD_Type-->
  <!--************************-->
  <xs:simpleType name="SSS_Battery_DOD_Type">
    <xs:restriction base="ee:Float_Type">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="50" />
    </xs:restriction>
  </xs:simpleType>
  <!--************************-->
  <!--SIM SSS_RWx_Rate_Type-->
  <!--************************-->
  <xs:simpleType name="SSS_RWx_Rate_Type">
    <xs:restriction base="ee:Float_Type">
      <xs:minInclusive value="-87.0" />
      <xs:maxInclusive value="87.0" />
    </xs:restriction>
  </xs:simpleType>
  <!--************************-->
  <!--SIM SSS_Hydrazine_Mass_Type-->
  <!--************************-->
  <xs:simpleType name="SSS_Hydrazine_Mass_Type">
    <xs:restriction base="ee:Float_Type">
      <xs:minInclusive value="0.0" />
      <xs:maxInclusive value="7.0" />
    </xs:restriction>
  </xs:simpleType>
  <!--************************-->
  <!--SIM SSS_Xenon_Mass_Type-->
  <!--************************-->
  <xs:simpleType name="SSS_Xenon_Mass_Type">
    <xs:restriction base="ee:Float_Type">
      <xs:minInclusive value="0.0" />
      <xs:maxInclusive value="16.0" />
    </xs:restriction>
  </xs:simpleType>
  <!--*****************************************************************************************************-->
  <!--SIM IHET PARAMETER TYPE-->
  <!--************************-->
  <xs:complexType name="TSDEFN_SIM_IHET_Parameter_Type">
    <xs:annotation>
      <xs:documentation>IHET parameter description type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ID">
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="214" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" type="ee:String_Type" />
      <xs:element name="Value" type="ee:UnsignedShort_Type"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--**************************-->
  <!--SIM TMM PARAMETER TYPE-->
  <!--**************************-->
  <xs:complexType name="TSDEFN_SIM_TMM_Parameter_Type">
    <xs:annotation>
      <xs:documentation>TMM parameter description type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type">
        <xs:annotation>
          <xs:documentation>Type 0 -5</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SeqID_InType">
        <xs:annotation>
          <xs:documentation>seq in Type </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="150" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" type="ee:String_Type" />
      <xs:element name="Value">
        <xs:simpleType>
          <xs:restriction base="ee:Double_Type">
            <xs:minInclusive value="-3.402823466e+38" />
            <xs:maxInclusive value="3.402823466e+38" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--**************************************************************************************************************************************-->
  <!--SCN IHET PARAMETER TYPE-->
  <!--************************-->
  <xs:complexType name="TSDEFN_SCN_IHET_Parameter_Type">
    <xs:annotation>
      <xs:documentation>IHET parameter description type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Relative_Time" type="ee:TMC_Relative_Time_Type" />
      <xs:element name="ID">
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="214" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" type="ee:String_Type" />
      <xs:element name="Value" type="ee:UnsignedShort_Type"></xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--**************************-->
  <!--SCN TMM PARAMETER TYPE-->
  <!--**************************-->
  <xs:complexType name="TSDEFN_SCN_TMM_Parameter_Type">
    <xs:annotation>
      <xs:documentation>TMM parameter description type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Relative_Time" type="ee:TMC_Relative_Time_Type" />
      <xs:element name="Type">
        <xs:annotation>
          <xs:documentation>Type 0 -5</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="SeqID_InType">
        <xs:annotation>
          <xs:documentation>seq in Type </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="150" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" type="ee:String_Type" />
      <xs:element name="Value">
        <xs:simpleType>
          <xs:restriction base="ee:Double_Type">
            <xs:minInclusive value="-3.402823466e+38" />
            <xs:maxInclusive value="3.402823466e+38" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--**************************-->
  <!--TMM COMMANDS STOP TYPE-->
  <!--***************************-->
  <xs:complexType name="TSDEFN_TMM_Command_Stop_Type">
    <xs:annotation>
      <xs:documentation>TMM command description type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Relative_Time" type="ee:TMC_Relative_Time_Type" />
      <xs:element name="Operation_Command">
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:enumeration value="4"></xs:enumeration>
            <xs:enumeration value="6"></xs:enumeration>
            <xs:enumeration value="9"></xs:enumeration>
            <xs:enumeration value="10"></xs:enumeration>
            <xs:enumeration value="11"></xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Command_Name">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="Stop_Current_Operation_Mode" />
            <xs:enumeration value="Stop_Orbit_Estimation" />
            <xs:enumeration value="Initialize_Algorithm" />
            <xs:enumeration value="Reset_Alg_Int_Param" />
            <xs:enumeration value="Set_Direct_Telemetry_Mode" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="List_of_Command_Parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Command_Parameter" minOccurs="0" maxOccurs="2">
              <xs:annotation>
                <xs:documentation>Description of each parameter</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ee:TSDEFN_TMM_Command_Parameter_Type">
                    <xs:attribute name="sn" use="required">
                      <xs:annotation>
                        <xs:documentation>Serial number of the parameter within the list</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="ee:Integer_Type">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="2" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="count" use="required">
            <xs:annotation>
              <xs:documentation>Number of parameter</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="ee:Integer_Type">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="2" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--**************************-->
  <!--TMM COMMANDS TYPE-->
  <!--***************************-->
  <xs:complexType name="TSDEFN_TMM_Command_Type">
    <xs:annotation>
      <xs:documentation>TMM command description type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Relative_Time" type="ee:TMC_Relative_Time_Type" />
      <xs:element name="Operation_Command">
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="11" />
            <xs:pattern value="1|2|3|4|5|6|8|9|10|11" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Command_Name">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="Initiate_Experiment" />
            <xs:enumeration value="Initiate_Orbit_Change" />
            <xs:enumeration value="Initiate_Orbit_Maintenance" />
            <xs:enumeration value="Stop_Current_Operation_Mode" />
            <xs:enumeration value="Start_Orbit_Estimation" />
            <xs:enumeration value="Stop_Orbit_Estimation" />
            <xs:enumeration value="Update_Reference_Orbit" />
            <xs:enumeration value="Initialize_Algorithm" />
            <xs:enumeration value="Reset_Alg_Int_Param" />
            <xs:enumeration value="Set_Direct_Telemetry_Mode" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="List_of_Command_Parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Command_Parameter" minOccurs="0" maxOccurs="20">
              <xs:annotation>
                <xs:documentation>Description of each parameter</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ee:TSDEFN_TMM_Command_Parameter_Type">
                    <xs:attribute name="sn" use="required">
                      <xs:annotation>
                        <xs:documentation>Serial number of the parameter within the list</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="ee:Integer_Type">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="count" use="required">
            <xs:annotation>
              <xs:documentation>Number of parameter</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="ee:Integer_Type">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="20" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--***********************-->
  <!--TSDEFN_TMM_Command_Parameter_Type-->
  <!--************************-->
  <xs:complexType name="TSDEFN_TMM_Command_Parameter_Type">
    <xs:annotation>
      <xs:documentation>TSDEFN_TMM_Command_Parameter_Type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="ee:String_Type" />
      <xs:element name="Type">
        <xs:simpleType>
          <xs:annotation>
            <xs:documentation>for information only</xs:documentation>
          </xs:annotation>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="byte" />
            <xs:enumeration value="double" />
            <xs:enumeration value="float" />
            <xs:enumeration value="word" />
            <xs:enumeration value="short" />
            <xs:enumeration value="uint" />
            <xs:enumeration value="ushort" />
            <xs:enumeration value="int" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="List_of_Values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Value" maxOccurs="5">
              <xs:annotation>
                <xs:documentation>Description of each value</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ee:TSDEFN_TMM_Command_Parameter_Value_Type">
                    <xs:attribute name="sn" use="required">
                      <xs:annotation>
                        <xs:documentation>Serial number of the value within the list</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="ee:Integer_Type">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="count" use="required">
            <xs:annotation>
              <xs:documentation>Number of value</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="ee:Integer_Type">
                <xs:minInclusive value="1" />
                <xs:maxInclusive value="5" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--***********************-->
  <!--TSDEFN_TMM_Command_Parameter_Value_Type-->
  <!--************************-->
  <xs:complexType name="TSDEFN_TMM_Command_Parameter_Value_Type">
    <xs:annotation>
      <xs:documentation>TSDEFN_TMM_Command_Parameter_Value_Type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Name" type="ee:String_Type" minOccurs="0" />
      <xs:element name="Val" type="ee:Double_Type" />
    </xs:sequence>
  </xs:complexType>
  <!--***********************-->
  <!--TSDEFN_IHET_Direct_OperReq_Type-->
  <!--************************-->
  <xs:complexType name="TSDEFN_IHET_Direct_OperReq_Type">
    <xs:annotation>
      <xs:documentation>IHET direct operation request type  </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Relative_Time" type="ee:TMC_Relative_Time_Type" />
      <xs:element name="OpName">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="STARTUP" />
            <xs:enumeration value="SHUTDOWN" />
            <xs:enumeration value="SET_POWER" />
            <xs:enumeration value="MANUAL" />
            <xs:enumeration value="SELF_TEST" />
            <xs:enumeration value="RESET" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="OpCode">
        <xs:simpleType>
          <xs:restriction base="ee:Integer_Type">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="5" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:sequence>
        <xs:element name="Param1" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0"></xs:minInclusive>
              <xs:maxInclusive value="35"></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Param2" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0"></xs:minInclusive>
              <xs:maxInclusive value="63"></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Param3" minOccurs="0">
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:minInclusive value="0"></xs:minInclusive>
              <xs:maxInclusive value="255"></xs:maxInclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <!--***********************-->
  <!--TSDEFN_DPS_OperReq_Type-->
  <!--************************-->
  <xs:complexType name="TSDEFN_DPS_OperReq_Type">
    <xs:annotation>
      <xs:documentation>DPS operation request type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Relative_Time" type="ee:TMC_Relative_Time_Type" />
      <xs:element name="ID">
        <xs:simpleType>
          <xs:restriction base="ee:Integer_Type">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="3" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Name" type="ee:String_Type" />
      <xs:element name="Value">
        <xs:simpleType>
          <xs:restriction base="ee:Integer_Type">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="20479" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--***********************-->
  <!--TSDEFN_Quaterion_Type-->
  <!--************************-->
  <xs:complexType name="TSDEFN_Quaternion_Type">
    <xs:annotation>
      <xs:documentation>Quaternion type  </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Relative_Time" type="ee:TMC_Relative_Time_Type" />
      <xs:element name="Coordinate_Frame" type="ee:String_Type" fixed="LVLH2BF" />
      <xs:element name="a" type="ee:Double_Type" />
      <xs:element name="b" type="ee:Double_Type" />
      <xs:element name="c" type="ee:Double_Type" />
      <xs:element name="d" type="ee:Double_Type" />
    </xs:sequence>
  </xs:complexType>
  <!--************************-->
  <!--TSDEFN_Tech_Rev_Type-->
  <!--************************-->
  <xs:complexType name="TSDEFN_Tech_Rev_Type">
    <xs:annotation>
      <xs:documentation>Tech Rev</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <!--=======================-->
      <!--Relative Rev-->
      <!--=======================-->
      <xs:element name="Relative_Rev" type="ee:TMC_Relative_Orbit_Number_Type" />
      <!--=======================-->
      <!--Quaterion -->
      <!--=======================-->
      <xs:element name="Quaternion" type="ee:TSDEFN_Quaternion_Type" minOccurs="0" />
      <!--=======================-->
      <!--IHET Direct Operation Request -->
      <!--=======================-->
      <xs:element name="List_of_IHET_Direct_OperReq">
        <xs:annotation>
          <xs:documentation>A list of commands which are intended to manually operate the
												IHET and do not activate the TMM. These IHET direct operation request include a list of IHET 
												Direct commands and their parameter values, and the relative time of applying each
												command	</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="IHET_Direct_OperReq" minOccurs="0" maxOccurs="350">
              <xs:annotation>
                <xs:documentation>Description of each operation request</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ee:TSDEFN_IHET_Direct_OperReq_Type">
                    <xs:attribute name="sn" use="required">
                      <xs:annotation>
                        <xs:documentation>Serial number of the oper. reqt. within the list</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="ee:Integer_Type">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="350" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="count" use="required">
            <xs:annotation>
              <xs:documentation>Number of requests</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="ee:Integer_Type">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="350" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <!--=======================-->
      <!--TMM Commands -->
      <!--=======================-->
      <xs:element name="List_of_TMM_Commands">
        <xs:annotation>
          <xs:documentation>A list of TMM commands , the
												relative time of applying each command.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TMM_Command" minOccurs="0" maxOccurs="5">
              <xs:annotation>
                <xs:documentation>Description of each Command</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ee:TSDEFN_TMM_Command_Type">
                    <xs:attribute name="sn" use="required">
                      <xs:annotation>
                        <xs:documentation>Serial number of the TMM Command within the list</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="ee:Integer_Type">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="5" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="count" use="required">
            <xs:annotation>
              <xs:documentation>Number of commands</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="ee:Integer_Type">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="5" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--**************************-->
  <!--TSDEFN_Expected_Orbit_Type-->
  <!--***************************-->
  <xs:complexType name="TSDEFN_Expected_Orbit_Type">
    <xs:sequence>
      <xs:element name="Expected_Orbit_Number">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="ee:TMC_Orbit_Number_Type">
              <xs:attribute name="unit" type="ee:String_Type" use="required" fixed="abs" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="State_Vector" type="ee:TMC_Orbit_Vector_Type" />
    </xs:sequence>
  </xs:complexType>
  <!--****************************-->
  <!--TSDEFN_Last_TMM_Command_Type-->
  <!--*****************************-->
  <xs:complexType name="TSDEFN_Last_TMM_Command_Type">
    <xs:annotation>
      <xs:documentation>TMM command description type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Operation_Command">
        <xs:simpleType>
          <xs:restriction base="ee:NonNegativeInteger_Type">
            <xs:minInclusive value="1" />
            <xs:maxInclusive value="11" />
            <xs:pattern value="1|2|3|4|5|6|8|9|10|11" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Command_Name">
        <xs:simpleType>
          <xs:restriction base="ee:String_Type">
            <xs:enumeration value="Initiate_Experiment" />
            <xs:enumeration value="Initiate_Orbit_Change" />
            <xs:enumeration value="Initiate_Orbit_Maintenance" />
            <xs:enumeration value="Stop_Current_Operation_Mode" />
            <xs:enumeration value="Start_Orbit_Estimation" />
            <xs:enumeration value="Stop_Orbit_Estimation" />
            <xs:enumeration value="Update_Reference_Orbit" />
            <xs:enumeration value="Initialize_Algorithm" />
            <xs:enumeration value="Reset_Alg_Int_Param" />
            <xs:enumeration value="Set_Direct_Telemetry_Mode" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="List_of_Command_Parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Command_Parameter" minOccurs="0" maxOccurs="20">
              <xs:annotation>
                <xs:documentation>Description of each parameter</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ee:TSDEFN_TMM_Command_Parameter_Type">
                    <xs:attribute name="sn" use="required">
                      <xs:annotation>
                        <xs:documentation>Serial number of the parameter within the list</xs:documentation>
                      </xs:annotation>
                      <xs:simpleType>
                        <xs:restriction base="ee:Integer_Type">
                          <xs:minInclusive value="1" />
                          <xs:maxInclusive value="20" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="count" use="required">
            <xs:annotation>
              <xs:documentation>Number of parameter</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="ee:Integer_Type">
                <xs:minInclusive value="0" />
                <xs:maxInclusive value="20" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>