Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_MPL_ASDEFN_AcquisitionSetDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 
  HISTORIQUE
  
  VERSION : 1.4 : DM : VE-FT-840 : 07/12/2015 : Ugrade limit to 160 sites in acquisition set
  
  FIN-HISTORIQUE
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4">
	<xs:include schemaLocation="VE_Dictionary.xsd"/>
	<!-- ================= -->
	<!-- Root -->
	<!-- ================= -->
	<xs:complexType name="ASDEFN_File_Type">
		<xs:annotation>
			<xs:documentation>The AcquisitionSetDefinition is generated by the VIP in accordance to the active sites for a given period. 
It is provided to the GCS in order to check the feasibility of the requested acquisitions and downloads. 
An AcquisitionSetDefinition should be predefined some time before it will be activated through an AcquisitionSetRequest.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ee:Abstract_Earth_Explorer_File_Type">
				<xs:sequence>
					<xs:element name="Earth_Explorer_Header" type="ee:ASDEFN_Header_Type"/>
					<xs:element name="Data_Block" type="ee:ASDEFN_Body_Type"/>
				</xs:sequence>
				<xs:attribute name="schema_version" use="required">
					<xs:simpleType>
						<xs:restriction base="ee:Decimal_Type">
							<xs:minInclusive value="0.41"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ================= -->
	<!-- Header -->
	<!-- ================= -->
	<xs:complexType name="ASDEFN_Header_Type">
		<xs:sequence>
			<xs:element name="Fixed_Header" type="ee:ASDEFN_Fixed_Header_Type"/>
			<xs:element name="Variable_Header" type="ee:ASDEFN_Variable_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASDEFN_Fixed_Header_Type">
		<xs:sequence>
			<xs:element name="File_Name" type="ee:VE_AcquisitionSetDefinition_Id_Type"/>
			<xs:element name="File_Description">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="AcquisitionSetDefinition"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Notes" type="ee:String_Type"/>
			<xs:element name="Mission" type="ee:VE_Mission_Type"/>
			<xs:element name="File_Class" type="ee:VE_File_Class_Type"/>
			<xs:element name="File_Type">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="MPL_ASDEFN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Validity_Period" type="ee:Validity_Period_Type"/>
			<xs:element name="File_Version" type="ee:File_Version_Type"/>
			<xs:element name="Source" type="ee:VE_Source_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASDEFN_Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type"/>
			<xs:element name="Specific_Product_Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Instance_Id" type="ee:ASDEFN_Instance_Id_Type"/>
						<xs:element name="Related_SimulationReferenceDataSet_Id" type="ee:VE_SimulationReferenceDataSet_Id_Type"/>
						<xs:element name="Related_ReferenceOrbit_Id" type="ee:VE_ReferenceOrbit_Id_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASDEFN_Instance_Id_Type">
		<xs:sequence>
			<xs:element name="Orbit_Definition_Mode" type="ee:VE_Orbit_Definition_Mode_Type">
				<xs:annotation>
					<xs:documentation>Mode of orbit definition. Below are allowed values (first letter, preceding the underscore, is the corresponding letter code used in ids and file names)

- A_ABSOLUTE for a specific ASDE
- R_RELATIVE for a predefined ASDE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nick_Name" type="ee:VE_Nick_Name_Type">
				<xs:annotation>
					<xs:documentation>NickName of the AcquisitionSetDefinition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Acquisition_Set_Mode" type="ee:VE_Acquisition_Set_Mode_Type">
				<xs:annotation>
					<xs:documentation>Mode of acquisition : nominal or failure cases. Below are allowed values (followed, in parenthesis, by corresponding code used in ids and file names)
- NOMINAL (NMNL)
- OBR1_FAILURE (OBR1)
- OBR2_FAILURE (OBR2)
- RW1_FAILURE (RW01)
- RW2_FAILURE (RW02)
- RW3_FAILURE (RW03)
- RW4_FAILURE (RW04)
- ONE_DLT_FAILURE (1DLT)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="File_Version" type="ee:File_Version_Type">
				<xs:annotation>
					<xs:documentation>Version number of the file : content of this element must be identical to the File_Version element of the Fixed_Header.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ================= -->
	<!-- body -->
	<!-- ================= -->
	<xs:complexType name="ASDEFN_Body_Type">
		<xs:annotation>
			<xs:documentation>the Acquisition Set Definition (ASDEFN) Body Type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="List_of_Site_Descriptions">
				<xs:annotation>
					<xs:documentation>Description of the sites composing the set
if empty : NOP.

The sites should be listed in a chronological order of acquisition.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Site_Description" minOccurs="0" maxOccurs="160">
							<xs:annotation>
								<xs:documentation>description of each site</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ee:ASDEFN_Site_Description_Type">
										<xs:attribute name="sn" use="required">
											<xs:annotation>
												<xs:documentation>serial number of the site in the set</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="ee:Integer_Type">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="160"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="count" use="required">
						<xs:annotation>
							<xs:documentation>number of sites of the set</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="ee:NonNegativeInteger_Type">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="160"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASDEFN_Site_Description_Type">
		<xs:annotation>
			<xs:documentation>a site whole description type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SiteDefinition_Id" type="ee:VE_SiteDefinition_Id_Type">
				<xs:annotation>
					<xs:documentation>unique identifier of the site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Site_Definition" type="ee:ASDEFN_Site_Definition_Type">
				<xs:annotation>
					<xs:documentation>general definition of the site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Site_Acq_Params" type="ee:ASDEFN_Site_Acquisition_Type">
				<xs:annotation>
					<xs:documentation>acquisition parameters associated to the site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="List_of_Site_Downloads" type="ee:ASDEFN_Site_Downloads_Type">
				<xs:annotation>
					<xs:documentation>downloads parameters associated to the site</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASDEFN_Site_Definition_Type">
		<xs:annotation>
			<xs:documentation>a site geographical definition type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Site_Type" type="ee:VE_Site_Type_Type">
				<xs:annotation>
					<xs:documentation>type of the site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>the elements defined in this sequence should be only provided if the site is not the moon.

(i.e. if Site_Type is not equal to 'M_MOON')</xs:documentation>
				</xs:annotation>
				<xs:element name="Site_Center" type="ee:VE_Geo_Location_2D_Type">
					<xs:annotation>
						<xs:documentation>geographical location of the site center.
</xs:documentation>
					</xs:annotation>
					<!--type="ee:VE_Location_Type"-->
				</xs:element>
				<xs:element name="Site_Length">
					<xs:annotation>
						<xs:documentation>length of the size along the scanning direction in km</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="ee:VE_Size_With_Unit_Type">
								<xs:minInclusive value="4"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Site_Altitude" type="ee:VE_Altitude_With_Unit_Type">
					<xs:annotation>
						<xs:documentation>altitude of the site</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASDEFN_Site_Acquisition_Type">
		<xs:annotation>
			<xs:documentation>a site acquisition description type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Acquisition_Orbit_Number" type="ee:VE_Orbit_With_Unit_Type">
				<xs:annotation>
					<xs:documentation>orbit number (either relative or absolute depending on the orbit definition mode) during which the site has to be acquired
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:sequence minOccurs="0">
				<xs:annotation>
					<xs:documentation>the elements defined in this sequence should be only provided if the site is not the moon. (i.e. if Site_Type is not equal to 'M_MOON')</xs:documentation>
				</xs:annotation>
				<xs:element name="Scan_Azimuth_Type" type="ee:ASDEFN_Scan_Azimuth_Type_Type">
					<xs:annotation>
						<xs:documentation>scan azimuth type : either relative to track or relative to the north
WARNING : The RELATIVE_TO_TRACK is deprecated and thus cannot be used anymore
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Scan_Azimuth_Angle" type="ee:VE_Azimuth_Type">
					<xs:annotation>
						<xs:documentation>scan azimuth angle according to the scan azimuth type</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Along_Track_Angle" type="ee:VE_Venus_Angle_Type">
					<xs:annotation>
						<xs:documentation>along track angle at the center of the acquisition

A positive along-track angle means forward scan, and a negative value means backward scan.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:element name="OBR_Code" type="ee:VE_OBR_Code_Type">
				<xs:annotation>
					<xs:documentation>OBR code in which the image has to be stored</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Line_Time" type="ee:Microseconds_Duration_Type">
				<xs:annotation>
					<xs:documentation>the line time in µs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASDEFN_Site_Downloads_Type">
		<xs:annotation>
			<xs:documentation>a site downloads description type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Site_Download" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>parameters for a given dowload</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Receiving_Station_Code" type="ee:VE_X_Band_Station_Code_Type">
							<xs:annotation>
								<xs:documentation>the receiving station that will receive this site</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Download_Orbit" type="ee:VE_Orbit_With_Unit_Type">
							<xs:annotation>
								<xs:documentation>the orbit number (either relative or absolute depending on the orbit definition mode) during which this site has to be downloaded</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="sn" use="required">
						<xs:simpleType>
							<xs:restriction base="ee:Integer_Type">
								<xs:minInclusive value="1"/>
								<xs:maxInclusive value="2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="count" use="required">
			<xs:simpleType>
				<xs:restriction base="ee:Integer_Type">
					<xs:minInclusive value="1"/>
					<xs:maxInclusive value="2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ASDEFN_Scan_Azimuth_Type_Type">
		<xs:annotation>
			<xs:documentation>scan azimuth type : either relative to track or relative to the north</xs:documentation>
		</xs:annotation>
		<xs:restriction base="ee:String_Type">
			<xs:enumeration value="RELATIVE_TO_NORTH"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
