Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_MPL_ASFREP_AcquisitionSetFeasibilityReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 
  HISTORIQUE
  
  VERSION : 1.4 : DM : VE-FT-840 : 07/12/2015 : Ugrade limit to 160 sites in acquisition set
  
  FIN-HISTORIQUE
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4">
	<xs:include schemaLocation="VE_Dictionary.xsd"/>
	<!-- ================= -->
	<!-- Root -->
	<!-- ================= -->
	<xs:complexType name="ASFREP_File_Type">
		<xs:annotation>
			<xs:documentation>The AcquisitionSetFeasibilityReport is sent back in general case by the GCS to the VIP after a corresponding nominal (in the case (the “Orbit Definition Mode” flag is Relative) AcquisitionSetDefinition  has been checked by the GCS.

In the case of a special AcquisitionSetDefinition (the “Orbit Definition Mode” flag is Absolute), then the AcquisitionSetFeasibilityReport is not generated by GCS; only an AcquisitionSetReport will be delivered for the corresponding AcquisitionSetRequest.
</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ee:Abstract_Earth_Explorer_File_Type">
				<xs:sequence>
					<xs:element name="Earth_Explorer_Header" type="ee:ASFREP_Header_Type"/>
					<xs:element name="Data_Block" type="ee:ASFREP_Body_Type"/>
				</xs:sequence>
				<xs:attribute name="schema_version" use="required">
					<xs:simpleType>
						<xs:restriction base="ee:Decimal_Type">
							<xs:minInclusive value="0.20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ================= -->
	<!-- Header -->
	<!-- ================= -->
	<xs:complexType name="ASFREP_Header_Type">
		<xs:sequence>
			<xs:element name="Fixed_Header" type="ee:ASFREP_Fixed_Header_Type"/>
			<xs:element name="Variable_Header" type="ee:ASFREP_Variable_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASFREP_Fixed_Header_Type">
		<xs:sequence>
			<xs:element name="File_Name" type="ee:VE_AcquisitionSetFeasibilityReport_Id_Type"/>
			<xs:element name="File_Description">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="AcquisitionSetFeasibilityReport"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Notes" type="ee:String_Type"/>
			<xs:element name="Mission" type="ee:VE_Mission_Type"/>
			<xs:element name="File_Class" type="ee:VE_File_Class_Type"/>
			<xs:element name="File_Type">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="MPL_ASFREP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Validity_Period" type="ee:Validity_Period_Type"/>
			<xs:element name="File_Version" type="ee:File_Version_Type"/>
			<xs:element name="Source" type="ee:VE_Source_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASFREP_Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type"/>
			<xs:element name="Specific_Product_Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Instance_Id" type="ee:ASFREP_Instance_Id_Type"/>
						<xs:element name="Related_AcquisitionSetDefinition_Id" type="ee:VE_AcquisitionSetDefinition_Id_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASFREP_Instance_Id_Type">
		<xs:sequence>
			<xs:element name="Orbit_Definition_Mode" type="ee:VE_Orbit_Definition_Mode_Type">
				<xs:annotation>
					<xs:documentation>Mode of orbit definition. Below are allowed values (first letter, preceding the underscore, is the corresponding letter code used in ids and file names)

- A_ABSOLUTE
- R_RELATIVE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nick_Name" type="ee:VE_Nick_Name_Type">
				<xs:annotation>
					<xs:documentation>NickName of the AcquisitionSetDefinition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Acquisition_Set_Mode" type="ee:VE_Acquisition_Set_Mode_Type">
				<xs:annotation>
					<xs:documentation>Mode of acquisition : nominal or failure cases. Below are allowed values (followed, in parenthesis, by corresponding code used in ids and file names)
- NOMINAL (NMNL)
- OBR1_FAILURE (OBR1)
- OBR2_FAILURE (OBR2)
- RW1_FAILURE (RW01)
- RW2_FAILURE (RW02)
- RW3_FAILURE (RW03)
- RW4_FAILURE (RW04)
- ONE_DLT_FAILURE (1DLT)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="File_Version" type="ee:File_Version_Type">
				<xs:annotation>
					<xs:documentation>Version number of the file : content of this element must be identical to the File_Version element of the Fixed_Header.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Global_Feasibility_Status" type="ee:VE_Global_Status_Type">
				<xs:annotation>
					<xs:documentation>Global status of feasibility report. Below are allowed values (first letter, preceding the underscore, is the corresponding letter code used in ids and file names)

- O_OK
- F_FAILED
- P_PARTIAL</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ================= -->
	<!-- body -->
	<!-- ================= -->
	<xs:complexType name="ASFREP_Body_Type">
		<xs:sequence>
			<xs:element name="Total_Rejection" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used when the Acquisition Set Definition has been totally rejected independently of any site definition (Global_Status = F_FAILED)</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rejection_Code">
							<xs:annotation>
								<xs:documentation>Reason why the Acquisition Set Defintion (ASDEFN) has been totally rejected</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="ee:String_Type">
									<xs:pattern value="[A-Z][0-9A-Z_]*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Detailed_Reason" type="ee:String_Type">
							<xs:annotation>
								<xs:documentation>Textual description of why the Acquisition Set Defintion (ASDEFN) has been totally rejected</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="List_of_Rejected_Sites">
				<xs:annotation>
					<xs:documentation>List of rejected sites</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Rejected_Site" minOccurs="0" maxOccurs="160">
							<xs:annotation>
								<xs:documentation>Description of each rejection</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="ee:ASFREP_Rejected_Site_Type">
										<xs:attribute name="sn" use="required">
											<xs:annotation>
												<xs:documentation>Serial number of the rejected site within the list</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="ee:Integer_Type">
													<xs:minInclusive value="1"/>
													<xs:maxInclusive value="160"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:attribute>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="count" use="required">
						<xs:annotation>
							<xs:documentation>Number of rejected sites (only relevant in case of partiall acceptance, 0 in the other cases)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="ee:Integer_Type">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="160"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASFREP_Rejected_Site_Type">
		<xs:annotation>
			<xs:documentation>a rejected site description type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SiteDefinition_Id" type="ee:VE_SiteDefinition_Id_Type">
				<xs:annotation>
					<xs:documentation>unique identifier of the rejected site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rejection_Code">
				<xs:annotation>
					<xs:documentation>Reason why the site has been rejected</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:pattern value="[A-Z][0-9A-Z_]*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Detailed_Reason" type="ee:String_Type">
				<xs:annotation>
					<xs:documentation>Textual description of why the site has been rejected</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
