Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_MPL_ASREQT_AcquisitionSetRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 
  HISTORIQUE
  
  VERSION : 1.4 : DM : VE-FT-840 : 07/12/2015 : Ugrade limit to 160 sites in acquisition set
  
  FIN-HISTORIQUE
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.4">
	<xs:include schemaLocation="VE_Dictionary.xsd"/>
	<!-- ================= -->
	<!-- Root -->
	<!-- ================= -->
	<xs:complexType name="ASREQT_File_Type">
		<xs:annotation>
			<xs:documentation>The AcquisitionSetRequest is generated by the VIP:
- either in order to activate a given predefined  nominal AcquisitionSetDefinition,
- or in order to activate a special related AcquisitionSetDefinition.

It is provided to the GCS in order to compute the associated satellite command file and DownlinkPlan.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ee:Abstract_Earth_Explorer_File_Type">
				<xs:sequence>
					<xs:element name="Earth_Explorer_Header" type="ee:ASREQT_Header_Type"/>
					<xs:element name="Data_Block" type="ee:ASREQT_Body_Type"/>
				</xs:sequence>
				<xs:attribute name="schema_version" use="required">
					<xs:simpleType>
						<xs:restriction base="ee:Decimal_Type">
							<xs:minInclusive value="0.32"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ================= -->
	<!-- Header -->
	<!-- ================= -->
	<xs:complexType name="ASREQT_Header_Type">
		<xs:sequence>
			<xs:element name="Fixed_Header" type="ee:ASREQT_Fixed_Header_Type"/>
			<xs:element name="Variable_Header" type="ee:ASREQT_Variable_Header_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREQT_Fixed_Header_Type">
		<xs:sequence>
			<xs:element name="File_Name" type="ee:VE_AcquisitionSetRequest_Id_Type"/>
			<xs:element name="File_Description">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="AcquisitionSetRequest"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Notes" type="ee:String_Type"/>
			<xs:element name="Mission" type="ee:VE_Mission_Type"/>
			<xs:element name="File_Class" type="ee:VE_File_Class_Type"/>
			<xs:element name="File_Type">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="MPL_ASREQT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Validity_Period" type="ee:Validity_Period_Type"/>
			<xs:element name="File_Version" type="ee:File_Version_Type"/>
			<xs:element name="Source" type="ee:VE_Source_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREQT_Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type"/>
			<xs:element name="Specific_Product_Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Instance_Id" type="ee:ASREQT_Instance_Id_Type"/>
						<xs:element name="Related_AcquisitionSetDefinition_Id" type="ee:VE_AcquisitionSetDefinition_Id_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREQT_Instance_Id_Type">
		<xs:sequence>
			<xs:element name="Serial_Key" type="ee:VE_Serial_Key_Type">
				<xs:annotation>
					<xs:documentation>unique Serial key in the AcquisitionSetRequest series</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orbit_Number_Validity_Range" type="ee:VE_Absolute_Orbit_Number_Range_Type">
				<xs:annotation>
					<xs:documentation>First and last validity orbits. Both orbits are expressed as absolute orbit numbers.

This orbits are set accordingly with the Validity_Period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Orbit_Definition_Mode" type="ee:VE_Orbit_Definition_Mode_Type">
				<xs:annotation>
					<xs:documentation>Mode of orbit definition. Below are allowed values (first letter, preceding the underscore, is the corresponding letter code used in ids and file names)

- A_ABSOLUTE for a specific ASDE
- R_RELATIVE for a predefined ASDE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nick_Name" type="ee:VE_Nick_Name_Type">
				<xs:annotation>
					<xs:documentation>NickName of the corresponding AcquisitionSetDefinition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Acquisition_Set_Mode" type="ee:VE_Acquisition_Set_Mode_Type">
				<xs:annotation>
					<xs:documentation>Mode of acquisition : nominal or failure cases. Below are allowed values (followed, in parenthesis, by corresponding code used in ids and file names)
- NOMINAL (NMNL)
- OBR1_FAILURE (OBR1)
- OBR2_FAILURE (OBR2)
- RW1_FAILURE (RW01)
- RW2_FAILURE (RW02)
- RW3_FAILURE (RW03)
- RW4_FAILURE (RW04)
- ONE_DLT_FAILURE (1DLT)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="File_Version" type="ee:File_Version_Type">
				<xs:annotation>
					<xs:documentation>Version number of the file : content of this element must be identical to the File_Version element of the Fixed_Header.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ================= -->
	<!-- body -->
	<!-- ================= -->
	<xs:complexType name="ASREQT_Body_Type">
		<xs:sequence>
			<xs:element name="List_of_Dynamic_Site_Parameters">
				<xs:annotation>
					<xs:documentation>description of dynamic site acquisition parameters.

Sites are listed in chronological order of acquisition.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Dynamic_Site_Parameters" minOccurs="0" maxOccurs="160">
							<xs:annotation>
								<xs:documentation>the description of each site</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="SiteDefinition_Id" type="ee:VE_SiteDefinition_Id_Type">
										<xs:annotation>
											<xs:documentation>identifier of the site</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Acq_Tech_Params_Set" type="ee:VE_Acq_Tech_Params_Set_Type">
										<xs:annotation>
											<xs:documentation>the acquisition technical parameters set associated to the site</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="sn" use="required">
									<xs:annotation>
										<xs:documentation>serial number of the site in the set</xs:documentation>
									</xs:annotation>
									<xs:simpleType>
										<xs:restriction base="ee:Integer_Type">
											<xs:minInclusive value="1"/>
											<xs:maxInclusive value="160"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="count" use="required">
						<xs:annotation>
							<xs:documentation>the number of sites of the set</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="ee:Integer_Type">
								<xs:minInclusive value="0"/>
								<xs:maxInclusive value="160"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="Moon_Acquisition" type="ee:ASREQT_Moon_Acquisition_Type">
				<xs:annotation>
					<xs:documentation>description of moon acquisition</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASREQT_Moon_Acquisition_Type">
		<xs:annotation>
			<xs:documentation>the moon acquisition type</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Active" type="ee:Bool_Type">
				<xs:annotation>
					<xs:documentation>If the moon acquisition is active or not</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="List_of_Moon_Acquisition_Parameters">
				<xs:annotation>
					<xs:documentation>List of moon acquisition parameters.

Should be empty if Active is set to false, should contain at least one Moon_Acquisition if is set to true.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Moon_Acquisition_Parameters" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Description of the parameters of one moon acquisition</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Acquisition_Orbit_Number" type="ee:VE_Absolute_Orbit_Number_With_Unit_Type">
										<xs:annotation>
											<xs:documentation>Absolute acquisition orbi number</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Moon_Center_Acquisition_Date" type="ee:UTC_Date_Time_Type">
										<xs:annotation>
											<xs:documentation>UTC Date-time of acquisition of the center of the moon. Must be in coherence with the absolute acquisition orbi number.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="sn" use="required">
									<xs:simpleType>
										<xs:restriction base="ee:Integer_Type">
											<xs:minInclusive value="1"/>
										</xs:restriction>
									</xs:simpleType>
								</xs:attribute>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="count" use="required">
						<xs:simpleType>
							<xs:restriction base="ee:Integer_Type">
								<xs:minInclusive value="0"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
