Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/Venus/VE_TLM_IMGSRD_ImageSourceRawData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by DCT/PS/TIS (C.N.E.S.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ee="http://eop-cfi.esa.int/CFI" targetNamespace="http://eop-cfi.esa.int/CFI" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.40">
	<xs:include schemaLocation="VE_Dictionary.xsd"/>
	<!-- ================= -->
	<!--Root (Header)-->
	<!-- ================= -->
	<xs:complexType name="IMGSRD_Header_Type">
		<xs:annotation>
			<xs:documentation>The ImageSourceRawData is the Image Mission Source Raw Data (generated by the on-board computer from VSSC ) as extracted from the PayloadTelemetry after each download, and transmitted by the VRS to the VIP.

The ImageSourceRawData should be delivered systematically on tape by mail.

Optionally, on explicit demand, some ImageSourceRawData elements should be also provided by network (see DownlinkPlan).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ee:Abstract_Earth_Explorer_Header_Type">
				<xs:sequence>
					<xs:element name="Fixed_Header" type="ee:IMGSRD_Fixed_Header_Type"/>
					<xs:element name="Variable_Header" type="ee:IMGSRD_Variable_Header_Type"/>
				</xs:sequence>
				<xs:attribute name="schema_version" use="required">
					<xs:simpleType>
						<xs:restriction base="ee:Decimal_Type">
							<xs:minInclusive value="0.30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ================= -->
	<!-- Header -->
	<!-- ================= -->
	<xs:complexType name="IMGSRD_Fixed_Header_Type">
		<xs:sequence>
			<xs:element name="File_Name" type="ee:VE_ImageSourceRawData_Id_Type"/>
			<xs:element name="File_Description">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="ImageSourceRawData"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Notes" type="ee:String_Type"/>
			<xs:element name="Mission" type="ee:VE_Mission_Type"/>
			<xs:element name="File_Class" type="ee:VE_File_Class_Type"/>
			<xs:element name="File_Type">
				<xs:simpleType>
					<xs:restriction base="ee:String_Type">
						<xs:enumeration value="TLM_IMGSRD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Validity_Period" type="ee:Validity_Period_Type"/>
			<xs:element name="File_Version" type="ee:File_Version_Type"/>
			<xs:element name="Source" type="ee:VE_Source_Type"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IMGSRD_Variable_Header_Type">
		<xs:sequence>
			<xs:element name="Main_Product_Header" type="ee:VE_Main_Product_Header_Type"/>
			<xs:element name="Specific_Product_Header">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Instance_Id" type="ee:IMGSRD_Instance_Id_Type"/>
						<xs:element name="Related_DownlinkPlan_Id" type="ee:VE_DownlinkPlan_Id_Type"/>
						<xs:element name="Related_DownlinkReport_Id" type="ee:VE_DownlinkReport_Id_Type"/>
						<xs:element name="Related_SiteDefinition_Id" type="ee:VE_SiteDefinition_Id_Type"/>
						<xs:element name="DBL_Organization" type="ee:VE_DBL_Organization_Type"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IMGSRD_Instance_Id_Type">
		<xs:sequence>
			<xs:element name="Site_Type" type="ee:VE_Site_Type_Type">
				<xs:annotation>
					<xs:documentation>type of the site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nick_Name" type="ee:VE_Nick_Name_Type">
				<xs:annotation>
					<xs:documentation>NickName of the site</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Acquisition_Orbit_Number" type="ee:VE_Absolute_Orbit_Number_With_Unit_Type">
				<xs:annotation>
					<xs:documentation>Acquisition absolute orbit number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Auxiliary_Data_Type" type="ee:VE_Auxiliary_Data_Type_Type">
				<xs:annotation>
					<xs:documentation>type of the related auxiliary data (O_ORBIT or S_SITE)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Data_Element_Id" type="ee:VE_Data_Element_Id_Type">
				<xs:annotation>
					<xs:documentation>Data ElementId</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
