Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/EarthExplorer/EO_OPER_MPL_SWTREF.DataBlockTypes_0101.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
	attributeFormDefault="unqualified" version="1.1">
	<xsd:include schemaLocation="GeoLocationTypes_0101.XSD"/>
	<xsd:include schemaLocation="BasicTypes_0101.XSD"/>
	<xsd:annotation>
		<xsd:documentation>Swath Template Data Types</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>$Revision: 1.2 $ $Date: 2007/07/31 17:08:42 $</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Point_Inertial_Swath_Type">
		<xsd:sequence>
			<xsd:element name="RA" type="Right_Asc"/>
			<xsd:element name="Dec" type="Declination"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Point_Swath_Type">
		<xsd:sequence>
			<xsd:element name="Long" type="Longitude_Type"/>
			<xsd:element name="Lat" type="Latitude_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Point_Swaths_Type">
		<xsd:sequence maxOccurs="unbounded">
			<xsd:element name="Point_Swath" type="Point_Swath_Type"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Line_Swath_Type">
		<xsd:sequence>
			<xsd:element name="Left_Pt" type="Point_Swath_Type"/>
			<xsd:element name="Mid_Pt" type="Point_Swath_Type"/>
			<xsd:element name="Right_Pt" type="Point_Swath_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Inertal_Swath_Type">
		<xsd:sequence>
			<xsd:element name="Left_Pt" type="Point_Inertial_Swath_Type"/>
			<xsd:element name="Mid_Pt" type="Point_Inertial_Swath_Type"/>
			<xsd:element name="Right_Pt" type="Point_Inertial_Swath_Type"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="List_of_Inertal_Swaths">
		<xsd:sequence>
			<xsd:element name="Inertial_Swath" type="Inertal_Swath_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="List_of_Line_Swaths_Type">
		<xsd:sequence>
			<xsd:element name="Line_Swath" type="Line_Swath_Type" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="count" type="NonNegativeInteger_Type" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="SWTREF_Data_Block_Type">
		<xsd:choice>
			<xsd:element name="List_of_Point_Swaths" type="List_of_Point_Swaths_Type"/>
			<xsd:element name="List_of_Line_Swaths" type="List_of_Line_Swaths_Type"/>
			<xsd:element name="List_of_Inertial_Swaths" type="List_of_Inertal_Swaths"/>
		</xsd:choice>
		<xsd:attribute name="type" type="String_Type" use="required" fixed="xml"/>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"></xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Data_Block" type="SWTREF_Data_Block_Type"></xsd:element>
</xsd:schema>
