Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/EarthExplorer/EO_OPER_MPL_ZON_DB.HeaderTypes_0100.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:include schemaLocation="HeaderTypes_0101.XSD"></xsd:include>
	<xsd:annotation>
		<xsd:documentation>Zone Database Header Types</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>$Revision: 1.1 $ $Date: 2007/07/31 17:08:45 $</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Zone_Database_Header_Type">
		<xsd:sequence>
			<xsd:element name="Fixed_Header" type="Fixed_Header_Type"></xsd:element>
			<xsd:element name="Variable_Header" type="AnyType_Type"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="xsd:decimal" use="optional"></xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_Header" type="Zone_Database_Header_Type"></xsd:element>
</xsd:schema>
