Plugins/VENUS/Interfaces/Schemas/VE-ICD-PRO-437-CNES_0111/schemas/EarthExplorer/EO_OPER_AUX_ORBDOR_0101.XSD

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://eop-cfi.esa.int/CFI" xmlns="http://eop-cfi.esa.int/CFI"
	elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1">
	<xsd:include schemaLocation="EO_OPER_AUX_ORBDOR.HeaderTypes_0100.XSD"></xsd:include>
	<xsd:include schemaLocation="EO_OPER_AUX_ORBDOR.DataBlockTypes_0100.XSD"></xsd:include>
	<xsd:annotation>
		<xsd:documentation>Doris Precise Orbit File</xsd:documentation>
	</xsd:annotation>
	<xsd:annotation>
		<xsd:documentation>$Revision: 1.1 $ $Date: 2007/07/31 17:08:30 $</xsd:documentation>
	</xsd:annotation>
	<xsd:complexType name="Doris_Precise_File_Type">
		<xsd:sequence>
			<xsd:element name="Earth_Explorer_Header" type="Doris_Precise_Header_Type"></xsd:element>
			<xsd:element name="Data_Block" type="Doris_Precise_Data_Block_Type"></xsd:element>
		</xsd:sequence>
		<xsd:attribute name="schemaVersion" type="Decimal_Type" use="required"></xsd:attribute>
	</xsd:complexType>
	<xsd:element name="Earth_Explorer_File" type="Doris_Precise_File_Type"></xsd:element>
</xsd:schema>
