Plugins/SENTINEL2/Interfaces/Schemas/S2-PDGS-TAS-DI-PSD_Schema/DICO/14/SY/date_time/date_time.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:gs2="http://gs2.esa.int/doc/1.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://psd-14.sentinel2.eo.esa.int/DICO/14/SY/date_time/" xmlns:date_time="https://psd-14.sentinel2.eo.esa.int/DICO/14/SY/date_time/" targetNamespace="https://psd-14.sentinel2.eo.esa.int/DICO/14/SY/date_time/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0">
	<xs:simpleType name="A_TAI_MICROSEC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An non UTC date-time value with a precision of one microsecond</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the yyyy-mm-ddThh:mm:ss.ssssss pattern</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\.\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A_TAI_MILLISEC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An non UTC date-time value with a precision of one millisecond</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the yyyy-mm-ddThh:mm:ss.ssssss pattern</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\.\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A_SECONDS_IN_A_NODE">
		<xs:annotation>
			<xs:documentation>seconds by Ascending or Descending Node</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:float">
			<xs:minInclusive value="-1800"/>
			<xs:maxInclusive value="1800"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A_TAI_DATE_TIME">
		<xs:annotation>
			<xs:documentation>A TAI date-time value</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the
						yyyy-mm-ddThh:mm:ss(.sss) pattern and excluding
						thus a TimeZone definition.</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A_GPS_DATE_TIME">
		<xs:annotation>
			<xs:documentation>A GPS date-time value = TAI format</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the
						yyyy-mm-ddThh:mm:ss(.sss) pattern and excluding
						thus a TimeZone definition.</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A_GPS_NANOSECOND_DATE_TIME">
		<xs:annotation>
			<xs:documentation>A GPS date-time value (= TAI format) with a precision of one nanosecond</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the
						yyyy-mm-ddThh:mm:ss(.sss) pattern and excluding
						thus a TimeZone definition.</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d.\d\d\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_IM_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An instrument measurement date-time value = TAI format</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the
						yyyy-mm-ddThh:mm:ss(.sss) pattern and excluding
						thus a TimeZone definition.</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_UTC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An UTC date-time value</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the
						yyyy-mm-ddThh:mm:ss(.sss)Z pattern and excluding
						thus a TimeZone definition.</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_UTC_DATE_TIME_TWO">
		<xs:annotation>
			<xs:documentation>An UTC date-time value</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the
						yyyy-mm-ddThh:mm:ss(.sss)Z pattern and excluding
						thus a TimeZone definition.</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?Z"/>
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?Z \d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d(\.\d+)?Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_UTC_MICROSEC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An UTC date-time value with a precision of one microsecond</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the yyyy-mm-ddThh:mm:ss.ssssssZ pattern</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\.\d\d\d\d\d\dZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_UTC_MILLISEC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An UTC date-time value with a precision of one millisecond</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the yyyy-mm-ddThh:mm:ss.sssZ pattern</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\.\d\d\dZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_UTC_SEC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An UTC date-time value with a precision of one second</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION><![CDATA[date-time value restricted to the yyyy-mm-ddThh:mm:ssZ pattern and excluding thus : <br/>
<ul>
<li>a fractional seconds definition (value has a precision of one second)</li>
<li>a TimeZone definition</li>
</ul>]]></gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\dZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_UTC_TENTHMICROSEC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>An UTC date-time value with a precision of one tenth-of-a-microsecond</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the yyyy-mm-ddThh:mm:ss.sssssssZ pattern</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\.\d\d\d\d\d\d\dZ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A_NONUTC_TENTHMICROSEC_DATE_TIME">
		<xs:annotation>
			<xs:documentation>A non UTC (a TAI) date-time value with a precision of one tenth-of-a-microsecond</xs:documentation>
			<xs:appinfo>
				<gs2:DOC>
					<gs2:DEFINITION>date-time value restricted to the yyyy-mm-ddThh:mm:ss.sssssssZ pattern</gs2:DEFINITION>
				</gs2:DOC>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d\d\d\d-\d\d-\d\dT\d\d:\d\d:\d\d\.\d\d\d\d\d\d\d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="A_JULIAN_DAY">
		<xs:annotation>
			<xs:documentation>Jour julien CNES</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="D">
				<xs:annotation>
					<xs:documentation>Julian Day</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="S">
				<xs:annotation>
					<xs:documentation>Number of seconds (can be more than the number of seconds in a day).</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double">
						<xs:minInclusive value="0"/>
						<xs:maxInclusive value="100000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>Time data types used in EOF Header </xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>$Revision: 1.3 $ $Date: 2016/07/14 12:47:01 $</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="No_Ref_Date_Time_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1-2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1-2][0-9]|30))|(02-(0[1-9]|[1-2][0-9])))T([0,1][0-9]|2[0-3])(:[0-5][0-9]){2}|0000-00-00T00:00:00|9999-99-99T99:99:99)(.\d*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Mission_Date_Time_Type">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z0-9]{3}=(\d{4}-(((01|03|05|07|08|10|12)-(0[1-9]|[1-2][0-9]|3[0,1]))|((04|06|09|11)-(0[1-9]|[1-2][0-9]|30))|(02-(0[1-9]|[1-2][0-9])))T([0-1][0-9]|2[0-3])(:[0-5][0-9]){2}|0000-00-00T00:00:00|9999-99-99T99:99:99)(.\d*)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TAI_Date_Time_Type">
		<xs:restriction base="Mission_Date_Time_Type">
			<xs:pattern value="TAI=.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UTC_Date_Time_Type">
		<xs:restriction base="Mission_Date_Time_Type">
			<xs:pattern value="UTC=.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UTC_EOM_Date_Type">
		<xs:restriction base="UTC_Date_Time_Type">
			<xs:pattern value="UTC=9999-99-99T99:99:99"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UTC_BOM_Date_Type">
		<xs:restriction base="UTC_Date_Time_Type">
			<xs:pattern value="UTC=0000-00-00T00:00:00"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="UT1_Date_Time_Type">
		<xs:restriction base="Mission_Date_Time_Type">
			<xs:pattern value="UT1=.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="A_JULIAN_DAY_WITHOUT_SEC">
		<xs:annotation>
			<xs:documentation>CNES Julian day without seconds</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:minInclusive value="0"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
